<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="CreditKey\B2BGateway\Model\PaymentMethodFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\CreditKey\B2BGateway\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">CreditKey\B2BGateway\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">CreditKeyB2BGatewayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">CreditKey\B2BGateway\Gateway\Command\CommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="CreditKeyB2BGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\CreditKey\B2BGateway\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Logger, initialized with CreditKeyB2BGatewayConfig -->
    <virtualType name="CreditKeyB2BGatewayLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">CreditKeyB2BGatewayConfig</argument>
        </arguments>
    </virtualType>

    <!-- Commands infrastructure -->
    <virtualType name="CreditKey\B2BGateway\Gateway\Command\CommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initialize" xsi:type="string">CreditKey\B2BGateway\Gateway\Command\InitializeCommand</item>
                <item name="authorize" xsi:type="string">CreditKey\B2BGateway\Gateway\Command\AuthorizeCommand</item>
                <item name="capture" xsi:type="string">CreditKey\B2BGateway\Gateway\Command\CaptureCommand</item>
                <item name="void" xsi:type="string">CreditKey\B2BGateway\Gateway\Command\VoidCommand</item>
                <item name="refund" xsi:type="string">CreditKey\B2BGateway\Gateway\Command\RefundCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="CreditKeyB2BGatewayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">CreditKeyB2BGatewayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="CreditKeyB2BGatewayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">CreditKeyB2BGatewayConfig</argument>
        </arguments>
    </virtualType>

    <type name="CreditKey\B2BGateway\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">CreditKeyB2BGatewayConfig</argument>
        </arguments>
    </type>

</config>
