<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="creditkey_gateway" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Credit Key (Gateway)</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="creditkey_endpoint" translate="label" sortOrder="3" type="text" showInDefault="1" showInWebsite="1">
                  <label>API Endpoint</label>
                </field>
                <field id="creditkey_publickey" translate="label" sortOrder="4" type="text" showInDefault="1" showInWebsite="1">
                  <label>Public Key</label>
                </field>
                <field id="creditkey_sharedsecret" translate="label" sortOrder="5" type="text" showInDefault="1" showInWebsite="1">
                  <label>Shared Secret</label>
                </field>
                <field id="creditkey_debug" translate="label" sortOrder="10" type="select" showInDefault="1" showInWebsite="1">
                  <label>Debug</label>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="creditkey_checkoutdisplay" translate="label comment" sortOrder="30" type="CreditKey\B2BGateway\Model\Form\Element\MarketingRadios" showInDefault="1" showInWebsite="1">
                  <label>Checkout Display Type</label>
                  <comment>Choose the style of the marketing content to display on checkout.</comment>
                  <source_model>CreditKey\B2BGateway\Model\Adminhtml\Source\Buttons</source_model>
                </field>
                <field id="creditkey_checkoutsize" translate="label comment" sortOrder="35" type="radios" showInDefault="1" showInWebsite="1">
                  <label>Checkout Display Size</label>
                  <comment>Choose the size of the marketing content to display on checkout.</comment>
                  <source_model>CreditKey\B2BGateway\Model\Adminhtml\Source\Sizes</source_model>
                </field>
                <group id="creditkey_productmarketing" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="200">
                  <label>Marketing Content on Product Pages</label>
                  <attribute type="expanded">1</attribute>
                  <field id="active" translate="label comment" sortOrder="10" type="select" showInDefault="1" showInWebsite="1">
                    <label>Enabled</label>
                    <comment>Enable this to allow our marketing content to be displayed on the selected product pages.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                  </field>
                  <field id="products" translate="label comment" sortOrder="20" type="multiselect" showInDefault="1" showInWebsite="1">
                    <label>Products</label>
                    <comment>Choose the products to display the marketing content on.</comment>
                    <source_model>CreditKey\B2BGateway\Model\Adminhtml\Source\Products</source_model>
                  </field>
                  <field id="price" translate="label comment" sortOrder="25" type="radios" showInDefault="1" showInWebsite="1">
                    <label>Price Ranges</label>
                    <comment>Choose the product price range to display the marketing content on.</comment>
                    <source_model>CreditKey\B2BGateway\Model\Adminhtml\Source\Prices</source_model>
                  </field>
                  <field id="type" translate="label comment" sortOrder="30" type="CreditKey\B2BGateway\Model\Form\Element\MarketingRadios" showInDefault="1" showInWebsite="1">
                    <label>Display Type</label>
                    <comment>Only show marketing content on products with the selected pricing.</comment>
                    <source_model>CreditKey\B2BGateway\Model\Adminhtml\Source\Buttons</source_model>
                  </field>
                  <field id="size" translate="label comment" sortOrder="35" type="radios" showInDefault="1" showInWebsite="1">
                    <label>Display Size</label>
                    <comment>Choose the size of the marketing content to display.</comment>
                    <source_model>CreditKey\B2BGateway\Model\Adminhtml\Source\Sizes</source_model>
                  </field>
                </group>
            </group>
        </section>
    </system>
</config>
